.user-profile {
  background-color: #ffffff;

  box-shadow: 10px 10px 25px 1px rgba(0, 0, 0, 0.28);
}

.profile-pic-user {
  -webkit-box-shadow: 12px 16px 16px -12px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 12px 16px 16px -12px rgba(0, 0, 0, 0.55);
  box-shadow: 12px 16px 16px -12px rgba(0, 0, 0, 0.55);
}

.user-mybook {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #fafafa,
    #f5f5f5,
    #f1f1f1,
    #ececec
  );
}

.user-mybook p {
  font-size: 150%;
  font-style: bold;
}

.user-upload-mybook {
  margin: 20px;
}

.content {
  background-color: white !important;
  height: 83vh;
}

.card-book-mybook {
  border-radius: 25px !important;
}

.navbar {
  background-color: #002e46 !important;
}

.ant-layout-footer {
  background-color: #002e46 !important;
}

.input-profile-mybook {
  padding-bottom: 4%;
  margin: 0 9%;
}

.input-profile-mybook-input {
  -webkit-box-shadow: 0px 8px 13px -6px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 8px 13px -6px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 8px 13px -6px rgba(0, 0, 0, 0.54);
}

.navbar .nav-button {
  float: right;
}

.nav-button button {
  font-weight: bold;
}

.navbar .nav-logo {
  float: left;
}

.nav-logo p {
  color: white;
  font-weight: bold;
  font-size: large;
}

.nav-logo:hover p {
  color: #ffab00;
  font-weight: bold;
  font-size: large;
  /* background: -webkit-linear-gradient(#ffedca, #ffab00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* background: linear-gradient(180deg, #ffffff 25%, #facb67 50%, #ffab00 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.navButtonColor:hover {
  color: #ffab00 !important;
}

.content-card-mybook {
  margin-bottom: 20px;
}

.text-mybook {
  font-size: 20px;
  font-weight: bold;
}
